@import "./src/styles/layout.scss";
$max-width: 400px;

.portfolio-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;

  @media only screen and (min-width: $sm) {
    max-width: $max-width;
    margin: 10px;
  }

  &:hover {
    .portfolio-item__hover-background {
      background: blue;
    }

    .portfolio-item__image {
      transform: scale(1.1);
    }
  }
}

.portfolio-item__image {
  transition-duration: 300ms;
}

.portfolio-item__triangle {
  position: absolute;
  width: 110%;
  background: #364d79;
  z-index: 1;
  height: 90px;
  bottom: -5%;
  left: -5%;
  transform: rotate(-3deg);
}

.portfolio-item__title {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  height: 50px;
  left: 10px;
  right: 10px;
  z-index: 1;
  color: white;
}

.portfolio-item__hover-background {
  transition: background-color 300ms linear;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
